@import "../GlobalStyle.scss";

$light-primary-color: #beeda6;
$dark-primary-color: #013220;
$primary-color: #38876a;

.completepage-container {
  background-color: #f9ebdc;
  height: 100vh;
}
.result-label {
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #344648;
  .label {
    margin: 40px;
  }
}

.choice-container {
  text-align: center;
}
.choice-label {
  margin-top: 80px;
  font-size: 32px;
  color: #344648;
  font-weight: 500;
}
.choice-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.choice-btn-item {
  font-size: 24px;
  background-color: #ffbb98;
  margin: 4px 12px;
  padding: 16px 12px;
  border-radius: 12px;
  color: #344648;
  &:hover {
    color: #fbe0c3;
    cursor: pointer;
    transform: scale(1.02);
    background-color: #7d8e95;
  }
}
