//$light-primary-color: #beeda6;
$dark-primary-color: #013220;
$primary-color: #FBE0C3;
$secondary-color: #FFBB98;
$accent_color1: #344648;
$accent_color2: #7D8E95;
html{
  font-family: Arial, Helvetica, sans-serif;
}
li,
a {
  list-style: none;
  text-decoration: none;
}
.course-topic{
  
}
