.wordtopic-container {
  background-color: #fbe0c34f;
  margin-top: 46px;
}
.wordtopic-wordlist {
  width: 640px;
  height: auto;
  margin: auto;
}

.topic-wrapper {
  background-color: #fff;
  padding: 10px 20px;
}

.course-name {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: #344648;
  &:hover {
    cursor: pointer;
    color: #FBE0C3;
    // opacity: 0.6;
  }
}

.topic-title {
  font-size: 20px;
  font-weight: 650;
  color: #7D8E95;
}

.learn-btn {
  background-color: #FFBB98;
  width: 150px;
  padding: 7px 10px;
  border-radius: 10px;
  position: relative;
  margin-left: 444px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  color: #344648;
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
    color: #FBE0C3;
    background-color: #7D8E95;
    opacity: 0.8;
  }
}

.topic-wordlist {
  background-color: #fff;
  padding: 10px 20px;
  margin: 20px 0;
}
.table{
  --bs-table-color: #344648;
  --bs-table-bg: #fbe0c300;
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: #FBE0C3(0, 0, 0, 0.075);
  --bs-table-striped-color: #344648;
  --bs-table-striped-bg: #FBE0C3;
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgb(0 0 0 / 0%);
  --bs-table-hover-color: #FBE0C3;
  --bs-table-hover-bg: #7D8E95;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}
