.course-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.home-container h1 {
  margin-top: 100px;
  text-align: center;
  color: #344648;
}
.course-name {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #344648;
}
