@import "../GlobalStyle.scss";

.learn-container {
  background-color: #fbe0c34f;
  width: 110%;
  height: 100vh;
  padding: 80px 100px;
  margin-top: 46px;
}
.word-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.wordItem {
  margin: 0 40px;
  .word-info {
    border-radius: 20px;
    background-color: white;
    width: 300px;
    margin-left: 70px;
  }
  .next-btn {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 130px;
    background-color: $primary-color;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-top: 50px;
    border-radius: 20px;
    .icon {
      font-size: 30px;
      margin-bottom: 5px;
    }
    &:hover {
      transform: scale(1.02);
      cursor: pointer;
    }
  }
}

.word-info-item {
  padding: 20px;
  label {
    font-weight: 600;
    color: #70747e;
    font-size: 16px;
  }
  .info {
    margin-top: 10px;
    font-size: 52px;
    color: #344648;
    font-weight: 700;
  }
}

.next-btn {
  text-decoration: none;
  color: white;
}

.pronounce {
  background-color: #fbe0c3;
  padding: 8px 0px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button {
    color: #344648;
    margin-right: 8px;
    padding: 0px 8px;
    border: none;
    background-color: #ffbb98;
    &:hover {
      cursor: pointer;
      color: #fbe0c3;
      background-color: #70747e;
      // opacity: 0.6;
    }
  }
}
