@import "../pages/GlobalStyle.scss";

.logo {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
}
.logo:hover {
  background-color: blue;
  .logo::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
  }
}
.user-info {
  position: absolute;
  right: 20px;
}
.dropdown {
  position: relative;
}
.dropdown-container {
  position: absolute;
  right: 100px;
}

.header-wrapper {
  background-color: $primary-color !important;
}
.course-container {
  text-align: center;
  width: 500px;
  border: 5px solid #e7eaf0;
  border-radius: 15px;
  margin: 20px 0px;
}

.learn-btn {
  background-color: #38876a;
  padding: 10px 10px;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
