@import "../pages/GlobalStyle.scss";

.navbar-brand {
  // padding-top: var(--bs-navbar-brand-padding-y);
  // padding-bottom: var(--bs-navbar-brand-padding-y);
  //margin-right: var(--bs-navbar-brand-margin-end);
  margin-right: 0px;
  font-size: 30px;
  font-weight: 700;
  color: #344648;
  text-decoration: none;
  white-space: nowrap;
  display: block;
  line-height: 46px;
  padding: 0 24px;
  &:hover {
    cursor: pointer;
    color: #fbe0c3;
    background-color: #7d8e95;
  }
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: 19px;
  font-weight: 500;
  color: #344648;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  &:hover {
    cursor: pointer;
    color: #fbe0c3;
    background-color: #7d8e95;
  }
}
.logo {
  width: 40px;
  height: 40px;
  background-color: #ffbb98;
  border-radius: 50%;
}
.logo:hover {
  background-color: #344648;
  .logo::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
  }
}
.user-info {
  position: absolute;
  right: 20px;
  color: #344648;
}

.dropdown {
  position: relative;
}
.dropdown-container {
  position: absolute;
  right: 100px;
}

.header-wrapper {
  background-color: $primary-color !important;
  position: fixed;
  height: 46px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.course-container {
  background-color: #fef5ec;

  text-align: center;
  width: 500px;
  border: 5px solid #e7eaf0;
  border-radius: 15px;
  margin: 20px 0px;
}

.enterCourse-btn {
  background-color: #ffbb98;
  padding: 10px 10px;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.topicItem-container {
  display: flex;
  width: 200px;
  height: 250px;
  background-color: #ffbb98;
  margin: 10px 10px;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 30px;
  font-weight: 700;
}
